<div ng-controller="ShowAlbumCtrl">

	<!-- Summary information for the album -->
	<img class="album-cover-large" ng-src="{{collection.artworkUrl100}}">
	<div class="container">
		<label>Artist: {{collection.artistName}}</label>
		<label>Album: {{collection.collectionName}}</label>
		<label>Tracks: {{collection.trackCount}}</label>
		<label>Discs: {{discs}}</label>
		<label>Released: {{collection.releaseDate}}</label>
		<label>Genre: {{collection.primaryGenreName}}</label>
	</div>

	<!-- Results appear in this grid: -->
	<div class="gridStyle" ng-grid="gridOptions"></div>

</div>