body {
	margin: 10px;
	padding-top: 60px;
	padding-bottom: 40px;
}

div.ngCell.date span {
	display: inline-block;
	margin-top: 6px;
}

div.ngCell.link a {
	display: inline-block;
	margin-top: 6px;
	margin-left: 5px;
}

#search {
	height: 32px;
}

.gridStyle {
	margin-top: 10px;
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    min-height: 300px;
    overflow: auto; 
}

#music-search-div {
	float: left;
	/*margin-left: -300px;*/
}

#music-search-type-div {
	float:left;
	/*margin-left: -80px;*/
	margin-left: 15px;
}

#result-type-div {
	float: left;
	margin-left: 15px;
}

#result-limit-div {
	float: left;
	margin-left: 15px;
}

#search-by-type-button, #view-album-button {
	margin-left: 15px;
	/*margin-top: 25px;*/
}

.album-cover {
	height: 60px;
	min-width: 60px;
}

.album-cover-large {
	float:left;
	height: 100px;
	min-width: 100px;
}