
<div>
	<form class="form-horizontal">

		<!-- Search Options -->
		<div class="control-group" ng-hide="!searchOptions.isChecked()">
			<label class="checkbox inline"><strong>Search Options: </strong></label>
			<div class="nzb-search-busy" spinner="loading"></div>
			<input ng-model="searchText" type="text" class="input-medium search-query" placeholder="search for" ng-disabled="loading">
			<button class="btn btn-primary" ng-click="nzbSearch()" ng-disabled="loading">Search</button>
			<select ng-model="maxResults" ng-options="max for max in getMaxResults()" ng-disabled="loading"></select>
			<input ng-model="startIndex" type="text" class="input-small" placeholder="start index" ng-disabled="loading">

			<div style="float:right">
				<button class="btn" ng-disabled="!canAdd()" ng-click="addSelected()">Add</button>
				<button class="btn btn-inverse" ng-disabled="!canPost()" ng-click="submitDownload()">Download</button>
			</div>
		</div>

		<!-- Filtering Options -->
		<div class="control-group" ng-hide="!filterOptions.isChecked()">
			<label class="checkbox inline"><strong>Filter Options: </strong></label>
			
			<label class="checkbox inline"><input type="checkbox" ng-model="showCollections" value="true" ng-disabled="!hasResults()"> Collections</label>
			
			
			<input ng-model="filterText" type="text" class="input-medium search-query" placeholder="filter results" ng-disabled="!hasResults()">
			<div dropdown-button="'Group Filter'" menu="groups" ng-model="selectedGroups" on-change="handleSelectionChange"></div>
			<div dropdown-button="'Poster Filter'" menu="posters" ng-model="selectedPosters" on-change="handleSelectionChange"></div>
		</div>
	</form>

	<!-- Results appear in this grid: -->
	<div class="nzb-table" ng-grid="searchGridOptions" ng-show="searchResults.isChecked()"></div>

	<div class="nzb-table" ng-grid="queueGridOptions" ng-show="queueResults.isChecked()"></div>

</div>