
<div ng-controller="MusicSearchCtrl">
	
		<!-- class="navbar-inner" -->
		<div class="container">
			<form class="form-inline">

				<!-- Search Text -->
				<div class="control-group">
					<label for="search">Search for Music</label>
					<input id="search" type="text" ng-model="searchText" placeholder="search text">
				</div>

				<!-- Field to search by (Artist, Genre, etc). -->
				<div class="control-group">
					<label for="searchType">Search By</label>
					<select id="searchType" ng-model="searchType" ng-options="type as type.name for type in searchTypes"></select>
				</div>

				<!-- The Type of results you want to see.  -->
				<div class="control-group">
					<label for="type">Result Type</label>
					<select id="type" ng-model="resultType" ng-options="type as type.name for type in resultTypes" ng-change="resultTypeChanged()"></select>
				</div>

				<!-- Selection for Result Limit -->
				<div class="control-group">
					<label for="limit">Result Limit</label>
					<select id="limit" ng-model="resultLimit" ng-options="limit as limit for limit in resultLimits">
					</select>
				</div>

				<!-- Button invokes the $scope.doSearch() method (see music-search.js) -->
				<button id="search-by-type-button" class="btn btn-primary" ng-click="doSearch()">Search by {{searchType.name}}</button>

				<button id="view-album-button" class="btn" ng-click="viewSelected()" ng-disabled="!canView()">View {{selectedType()}}</button>

			</form>

		</div>

		<!-- Results appear in this grid: -->
		<div class="gridStyle" ng-grid="gridOptions"></div>

		<br />
		<div class="selectedItems"><pre>{{gridOptions.selectedItems}}</pre></div>
</div>
